@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

body {
  background: #323647;
  margin: 0rem;
}

h1,
h2,
h3,
ul,
p {
  margin: 0rem;
  padding: 0rem;
  color: #fff;
}

p {
  font-family: "Fira Sans", sans-serif;
  margin-top: 54px;
  font-size: 1.75rem; /* 32px */
  color: #f0f0f0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
  font-family: "Fira Sans", sans-serif;
}

/* BARRA DO MENU SUPERIOR */
.container_menu {
  background: #242734;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 14rem; /* 0px  224px */
}

.logo {
  height: 38px;
  width: 45px;
  padding: 1rem 0rem; /* 16px  0px */
}

.menu {
  display: flex;
}

.menu > li {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  text-align: center;
  color: white;
  line-height: 1.75rem; /* 28px */
  margin-left: 1rem; /* 28px */
}

.menu > li > a {
  display: block;
  padding: 1rem 1.5rem; /*16px  24px*/
  color: #fff;
}

.menu > li > a:hover {
  color: #ffc72c;
}

/* REGRAS GERAIS PARA OS ARTICLES */
article {
  padding: 2.5rem 14rem; /* 40px  224px */
}

article > h3 {
  font-size: 4rem;
  line-height: 4rem; /* 64px */
  font-weight: 700;
  color: rgba(255, 255, 255, 0.2);
}

/* REGRAS PARA O ARTICLE "INTRODUÇAO" */
.introducao > h1::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 100px;
  background-color: #ffc72c;
}

.introducao > h1 {
  font-size: 72px;
  line-height: 82px;
}

.introducao > h2 {
  font-size: 1.75rem; /* 28px */
  font-weight: 400;
  padding-top: 76px;
}

.introducao > img {
  padding-top: 46px;
  padding-right: 0.5rem;
}

/* REGRAS PARA O ARTICLE "APRESENTAÇÃO" */
.apresentacao {
  background-color: #242734;
}

.apresentacao > p {
  margin-top: 54px;
}

.apresentacao_realce {
  color: #ffc72c;
  font-weight: 700;
}

/* REGRAS PARA O ARTICLE "PROCESSO" */
/* .processo > p {
} */

/* REGRAS PARA O ARTICLE "TRABALHOS" */
.trabalhos {
  background-color: #242734;
}

/* REGRAS PARA O ARTICLE "ORÇAMENTO" */
.orcamento_btn_primario {
  border-radius: 5px;
  border: 1px solid #1a1a1a;
  background: #ffc72c;
  color: #1a1a1a;
  padding: 1rem 2rem;
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* .orcamento_btn_primario {
  background-color: white;
  color: black;
  border: 2px solid #1a1a1a;
} */

.orcamento_btn_primario:hover {
  background-color: #1a1a1a;
  color: white;
}

/* REGRAS PARA O RODAPÉ */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 2.5rem 14rem; /* 40px  224px */
}

.paragrafo_left {
  margin-top: 0px;
  text-align: left;
  font-size: 1rem;
}

.paragrafo_right {
  margin-top: 0px;
  text-align: right;
  font-size: 1rem;
}

.teste {
  display: flex;
  justify-content: flex-end;
}

.teste > img {
  display: inline-block;
}
